@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}
body{
    background-color: var(--light-gray);
}
h1{
    margin: 0;
    padding: 0;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    color: var(--light-gray);
    font-size: 40px;
}
p{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: var(--white);
}
.btn{
    width: 60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    
}
.btn-sedans{   
    border-radius: 25px;
    color: var(--orange);
    background-color: var(--white);
}
.btn-suvs, .btn-luxury{   
    border-radius: 25px;
    color: var(--dark-cyan);
    background-color: var(--white);
}
.btn-luxury{

}
.container{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}
section{
    width: 25%;
    height: 500px;
}
section:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}
section:nth-child(3){
    border-radius: 0px 10px 10px 0px;
}
.sedans, .suvs, .luxury{
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.sedans{
    background-color: var(--orange);
    
}
.suvs{
    background-color:var(--cyan);
}
.luxury{
    background-color: var(--dark-cyan);
}